h2 {
    margin: 46px;
    display: flex;
    padding: 24px;
    margin: 30px;
    padding: 24px;
    position: fixed;
    margin: 4px;
}

button:hover {
    position: absolute;
    position: fixed;
    margin: 37px;
    padding: 16px;
    position: absolute;
    background-color: #8fc550;
}

#logo {
    margin: 16px;
    position: sticky;
    background-color: #f65478;
    font-family: monospace;
    font-size: 33px;
    color: #6f33e8;
    position: static;
    color: #6f33e8;
    color: #07e082;
}

li {
    border: 2px ridge #f65478;
    background-color: #8b0bbd;
    font-family: serif;
    font-size: 38px;
    padding: 6px;
    display: grid;
    font-family: Verdana;
    font-size: 33px;
}

div {
    font-family: Tahoma;
    font-size: 12px;
    padding: 7px;
    display: inline;
    color: #8fc550;
    position: absolute;
    font-family: Tahoma;
    font-size: 38px;
}

#main {
    display: block;
    padding: 4px;
    display: grid;
    position: absolute;
    display: grid;
    border: 1px ridge #8fc550;
    color: #40cc9f;
    color: #07e082;
}

