:root {
    --color-0: #9b8329;
    --color-1: #9fde68;
    --color-2: #233b16;
    --color-3: #44df59;
    --color-4: #1e183e;
    --color-5: #233b16;
    --color-6: #bb0c3e;
    --color-7: #b96ce3;
    --color-8: #9a0b3c;
    --color-9: #9fde68;
    --color-10: #1e183e;
    --color-11: #9fde68;
    --color-12: #1e50f9;
    --color-13: #021a1f;
    --color-14: #acc589;
    --color-15: #b96ce3;
    --color-16: #021a1f;
    --color-17: #1e50f9;
    --color-18: #44df59;

/* Navigation Styles */

    --color-19: #bb0c3e;
    --spacing-0: 28px;
    --spacing-1: 49px;
    --spacing-2: 13px;
    --spacing-3: 40px;
    --spacing-4: 4px;
    --spacing-5: 11px;
    --spacing-6: 19px;
    --spacing-7: 9px;
    --spacing-8: 31px;
    --spacing-9: 16px;
}

/* CSS Reset */
* {
    margin: 0;

/* Main Content Styles */

    padding: 0;
    box-sizing: border-box;
}

.dgexkkgr, .lohnndhh, ol, #ikjnefdj, figcaption {
    position: sticky;
    box-shadow: 20px 14px 25px #b96ce3;
    cursor: wait;
    flex-wrap: wrap-reverse;
    background-image: linear-gradient(108deg, #9a0b3c, #8e6ef8);
    z-index: 54;
}

@keyframes animation-riykih {
    0% {
        opacity: 0.1;
        transform: rotate(-177deg);
    }
    50% {
        background-color: #233b16;
        opacity: 0.7;
        color: #1e50f9;
    }
    100% {
        transform: translateX(10px);
        transform: rotate(-177deg);
    }
}

.animated-fgjxuv {
    animation: animation-riykih 8s infinite;
}

@keyframes animation-faueew {
    0% {

/* Animation Effects */

        transform: skew(15deg, 10deg);
        transform: scale(1.0);
        opacity: 0.8;
        color: #bb0c3e;
    }
    25% {
        color: #2c8fab;
        transform: skew(15deg, 10deg);
        transform: rotate(-177deg);
    }
    50% {
        color: #acc589;
        transform: translateY(-20px);
        opacity: 0.9;
    }
    75% {
        color: #63703a;
        color: #9a0b3c;
        opacity: 0.4;
        background-color: #bb0c3e;
    }
    100% {
        opacity: 0.9;
        opacity: 0.1;
        background-color: #2b7ed8;
    }
}

.animated-pmqnsx {
    animation: animation-faueew 1s infinite;
}

.zvssnwqs, .bpkltypk {
    grid-template-rows: auto;
    text-decoration: overline;
    opacity: 0.4;
    align-items: flex-end;
    overflow: visible;
    box-shadow: 0px 10px 13px #ae9620;
    opacity: 0.7;

/* Button Styles */

    align-items: baseline;
    cursor: wait;
}

@keyframes animation-ibklxi {
    0% {
        transform: skew(15deg, 10deg);
        opacity: 0.1;
    }
    25% {
        background-color: #63703a;
        transform: rotate(-177deg);
        background-color: #c293a7;
        color: #63703a;
    }
    50% {
        background-color: #bb0c3e;
        background-color: #63703a;
        transform: translateX(10px);

/* Footer Styles */

    }
    75% {
        color: #9b8329;
        opacity: 0.8;
        transform: rotate(-177deg);
    }
    100% {
        opacity: 0.4;
        background-color: #92bd71;
    }
}

.animated-yrhstm {
    animation: animation-ibklxi 8s infinite;
}

@media screen and (min-width: 768px) {
    footer {
        background-image: linear-gradient(108deg, #9a0b3c, #8e6ef8);
        font-weight: 500;
        background-image: linear-gradient(97deg, #c293a7, #ee2034);
        font-weight: bold;
        transition: all 0.7s ease-in-out;
        cursor: default;
    }

    .oeuxakxm {
        flex-direction: row-reverse;

/* Header Styles */

        grid-template-rows: minmax(100px, auto);
        align-items: center;
        cursor: wait;
    }

}

#pnjmtmuh:visited {
    align-items: flex-end;
    transition: all 0.8s ease-in-out;
    color: #b96ce3;
    font-family: sans-serif;
    margin: 73%;
    position: sticky;
    cursor: move;
    font-weight: 200;
    justify-content: space-evenly;
    padding: 8%;
    overflow: auto;

/* Dark Mode Overrides */


/* Print Styles */

    text-decoration: overline;
    background-color: #ee2034;
    z-index: 4;
    font-size: 91vh;
}

.jsjpoqxq {
    opacity: 0.4;
    color: #021a1f;
    background-color: #1e50f9;
    cursor: move;
    padding: 48em;
    text-align: right;
    font-family: Bookman;
    font-size: 72vw;
    margin: 20px;
    transition: all 0.8s ease-in-out;
    text-decoration: line-through;
    background-image: linear-gradient(118deg, #9a0b3c, #b96ce3);
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 10px 11px 3px #1e50f9;
    flex-direction: row;
    transform: scale(1.0);
}

#isqgpmto:hover {
    text-transform: lowercase;
    color: #021a1f;
    font-family: Palatino;
    flex-wrap: wrap;
    background-image: linear-gradient(132deg, #6e9462, #63703a);
    background-color: #233b16;
    text-decoration: line-through;
    margin: 65em;
    padding: 80px;
    cursor: move;
    font-size: 43%;
    opacity: 0.7;
    overflow: scroll;
    transition: all 0.7s ease-in-out;
    display: table;
}

@media (prefers-reduced-motion: reduce) {
    h6 {
        box-shadow: 17px 17px 22px #cd8194;
        grid-template-rows: auto;
        box-shadow: 20px 14px 25px #b96ce3;
        flex-direction: column-reverse;
        background-image: linear-gradient(274deg, #daf159, #989499);
        text-transform: none;
        display: inline;
    }

    h2 {
        flex-wrap: nowrap;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        font-weight: 700;
    }

}

.pdbynrso:active {
    overflow: auto;
    color: #6e9462;
    margin: 3rem;
    text-transform: uppercase;
    background-color: #ee2034;
    padding: 63em;
    display: grid;
    align-items: center;
    transform: translateY(-20px);
    text-align: justify;
    justify-content: space-between;
    font-weight: bold;
    grid-template-rows: auto;
    flex-wrap: wrap;
    font-family: Courier New;
    font-size: 47vw;
    grid-template-columns: minmax(0, 1fr);
    background-image: linear-gradient(118deg, #9a0b3c, #b96ce3);
}

@media screen and (max-width: 600px) {
    .mojgefek {
        cursor: not-allowed;
        font-weight: 900;
        grid-template-columns: repeat(2, 1fr);
        text-decoration: underline;
        align-items: flex-end;
        cursor: help;
        transform: skew(15deg, 10deg);
        flex-direction: row;
    }

    p {
        z-index: -1;
        z-index: 4;
        text-transform: none;
    }

    nav {
        justify-content: space-evenly;
        grid-template-rows: minmax(100px, auto);
        text-transform: lowercase;
    }

    .ezhsqmir {
        text-transform: none;
        text-transform: lowercase;
        grid-template-rows: 1fr;
        position: sticky;
        box-shadow: 0px 10px 13px #ae9620;
        text-transform: capitalize;
        text-transform: capitalize;
        background-image: linear-gradient(274deg, #daf159, #989499);
    }

}

@keyframes animation-agytjh {
    0% {
        opacity: 0.7;
        background-color: #ee2034;
    }
    50% {
        transform: translateX(10px);
        opacity: 0.9;
    }
    100% {
        background-color: #989499;
        transform: rotate(-177deg);
    }
}

.animated-edxdqk {
    animation: animation-agytjh 4s infinite;
}

.usbervdt {
    justify-content: space-around;
    background-color: #63703a;
    overflow: hidden;
    padding: 14vw;
    text-decoration: line-through;
    color: #d318af;
    align-items: baseline;
    margin: 74vw;
    text-align: justify;
    font-size: 53rem;
    position: absolute;
    background-image: linear-gradient(331deg, #ae9620, #8e6ef8);
    display: inline-block;
}

#ikjnefdj {
    font-weight: 700;
    font-size: 58px;
    text-align: right;
    background-color: #ae9620;
    font-family: Garamond;
    text-decoration: overline;
}

@keyframes animation-bqdxho {
    0% {
        transform: rotate(-177deg);
        background-color: #74b00a;
        transform: translateY(-20px);
        opacity: 0.9;

/* Responsive Layouts */

    }

/* Utility Classes */

    25% {
        transform: skew(15deg, 10deg);
        background-color: #8e6ef8;
        background-color: #411765;
        transform: translateX(10px);
    }
    50% {
        opacity: 0.1;
        background-color: #6e9462;
        transform: skew(15deg, 10deg);
        color: #9a0b3c;
    }
    75% {
        color: #9b8329;
        color: #bb0c3e;
        transform: rotate(-177deg);
        background-color: #7723e6;
    }
    100% {
        transform: translateY(-20px);
        transform: rotate(-177deg);
        color: #daf159;
        color: #9fde68;
    }
}

.animated-yygjtw {
    animation: animation-bqdxho 5s infinite;
}

h3 {
    text-decoration: none;
    color: #233b16;
    font-family: Georgia;
    font-size: 55vh;
    justify-content: space-around;
    padding: 33%;
    cursor: move;
    text-align: right;

/* Accessibility Helpers */

    background-color: #6e9462;
    align-items: stretch;
    overflow: scroll;
    box-shadow: 10px 11px 3px #1e50f9;
    transform: translateX(10px);
    opacity: 0.4;
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    h1 {
        background-image: linear-gradient(259deg, #5ea8be, #acc589);
        cursor: text;
        flex-direction: column-reverse;
        overflow: scroll;
        background-image: linear-gradient(331deg, #ae9620, #8e6ef8);
        font-weight: 100;
    }

    td {
        z-index: 4;
        box-shadow: 20px 14px 25px #b96ce3;

/* Form Elements */

        background-image: linear-gradient(97deg, #c293a7, #ee2034);
        justify-content: flex-start;
        flex-wrap: wrap-reverse;
    }

}

@media screen and (min-width: 1200px) {
    .pdbynrso {
        flex-wrap: nowrap;
        overflow: auto;
        transform: skew(15deg, 10deg);
        justify-content: flex-end;
        display: inline-block;
        font-weight: normal;
        transition: all 1.8s ease-in-out;
    }

    .zbpwhewx {
        background-image: linear-gradient(242deg, #6e9462, #44df59);
        overflow: visible;
        grid-template-columns: minmax(0, 1fr);
        position: sticky;
        transform: translateY(-20px);
        grid-template-rows: 1fr;
    }

    .bpkltypk {
        grid-template-columns: 1fr;
        z-index: 30;
        text-transform: lowercase;
    }

    .mjspwvog {
        text-transform: capitalize;
        background-image: linear-gradient(108deg, #9a0b3c, #8e6ef8);
        position: absolute;
        align-items: flex-start;
    }

}

@media (prefers-color-scheme: dark) {
    input {
        grid-template-rows: auto;
        font-weight: 200;
        text-align: center;
        overflow: auto;
        cursor: text;
    }

    article {
        transform: translateY(-20px);
        flex-wrap: wrap-reverse;
        flex-wrap: wrap;
        z-index: 4;
        grid-template-rows: minmax(100px, auto);
        background-image: linear-gradient(259deg, #5ea8be, #acc589);
    }

    table {
        grid-template-rows: minmax(100px, auto);
        text-transform: none;
        opacity: 0.4;
        position: relative;
        font-weight: 200;
        font-weight: 800;
        box-shadow: 17px 9px 0px #44df59;
        text-transform: uppercase;
    }

}

@media (prefers-color-scheme: dark) {
    .dxicmvdj {
        justify-content: flex-start;
        display: grid;
        background-image: linear-gradient(331deg, #ae9620, #8e6ef8);
        overflow: scroll;
    }

    .suxrnxwt {
        text-decoration: line-through;
        background-image: linear-gradient(97deg, #c293a7, #ee2034);
        font-weight: 500;
        text-transform: lowercase;
    }

}

h2:visited {
    position: relative;
    font-family: Georgia;
    grid-template-columns: repeat(4, 1fr);
    color: #8e6ef8;
    background-color: #63703a;
    font-size: 6em;
    grid-template-rows: repeat(3, auto);
    z-index: -1;
    padding: 36em;
    font-weight: 500;
    background-image: linear-gradient(274deg, #daf159, #989499);
    margin: 1em;
    cursor: pointer;
    flex-direction: column;
    flex-wrap: nowrap;
}

