:root {
    --color-0: #a9cdb9;
    --color-1: #009ecc;
    --color-2: #0ec875;
    --color-3: #fa3e21;
    --color-4: #880eee;
    --color-5: #e32d7d;
    --color-6: #7b57a7;
    --color-7: #7aec6f;
    --color-8: #919550;
    --color-9: #880eee;
    --color-10: #009ecc;
    --color-11: #919550;
    --color-12: #ce7e10;
    --color-13: #7aec6f;
    --color-14: #0b7893;
    --color-15: #8c32cf;
    --color-16: #7018da;
    --color-17: #009ecc;
    --color-18: #ae676d;
    --color-19: #f7b8ce;
    --spacing-0: 20px;
    --spacing-1: 37px;
    --spacing-2: 34px;
    --spacing-3: 22px;
    --spacing-4: 28px;
    --spacing-5: 5px;
    --spacing-6: 25px;
    --spacing-7: 14px;
    --spacing-8: 31px;
    --spacing-9: 50px;
}


/* Dark Mode Overrides */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main ~ h2 blockquote {
    text-decoration: line-through;
    font-weight: 100;
    font-size: 42em;
    overflow: scroll;
    margin: 36%;
    padding: 94vw;
    text-align: justify;
    background-color: #7018da;
    display: flex;

/* Main Content Styles */

    transform: rotate(47deg);
    color: #1c141d;
    box-shadow: 4px 3px 42px #2a6a60;
}

.chlsxkne {
    font-weight: normal;
    color: #0be702;
    font-size: 3vh;
    z-index: 36;
    align-items: baseline;
    padding: 39%;
    transform: skew(15deg, 10deg);
    font-family: Lato;
    margin: 63px;
    display: flex;
    transition: all 1.6s ease-in-out;
    flex-wrap: nowrap;
    background-image: linear-gradient(236deg, #7018da, #b8e31b);
    background-color: #009ecc;
}

#kcacqtxr {
    text-transform: none;
    opacity: 0.1;
    font-family: Arial;
    background-image: linear-gradient(132deg, #77027e, #8c32cf);
    color: #e32d7d;
    justify-content: space-evenly;
    font-size: 38rem;
    padding: 86px;
    flex-wrap: wrap-reverse;
    margin: 81px;
    z-index: 18;
    font-weight: 100;
    position: fixed;
}

.yypqdzdw:nth-child(even) {
    box-shadow: 18px 19px 41px #a2e9df;
    background-color: #009ecc;
    justify-content: space-around;
    color: #ae676d;
    font-size: 83px;
    padding: 97%;
    font-weight: 800;
    margin: 97rem;
}

li, #felnoncq, .zyaartfu {
    align-items: flex-start;
    display: contents;
    text-decoration: line-through;
    box-shadow: 19px 12px 1px #0b7893;
    transition: all 1.6s ease-in-out;
    position: sticky;
    flex-direction: column-reverse;
    transform: scale(1.8);
    grid-template-columns: auto 1fr;
    flex-direction: row;
}

@keyframes animation-tklhbj {
    0% {
        transform: rotate(47deg);
        opacity: 0.2;
        color: #77027e;
        background-color: #dd617f;
    }
    50% {
        color: #8c32cf;
        transform: rotate(47deg);
        color: #7b57a7;
        transform: skew(15deg, 10deg);
    }
    100% {
        background-color: #7b57a7;
        color: #919550;
        opacity: 0.2;
        opacity: 0.2;
    }
}

.animated-xbikru {
    animation: animation-tklhbj 1s infinite;
}

footer, #lckpbydw {
    flex-direction: row;
    box-shadow: 1px 9px 46px #b8e31b;
    text-decoration: underline;
    text-decoration: line-through;
    align-items: baseline;
    transform: rotate(47deg);
    overflow: scroll;
    box-shadow: 6px 18px 13px #a9cdb9;
    cursor: pointer;
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .ipxwxfqh {
        transform: scale(1.8);
        justify-content: center;
        flex-wrap: nowrap;
        overflow: auto;
    }

    h5 {
        flex-wrap: wrap;
        background-image: linear-gradient(332deg, #7b57a7, #7018da);
        overflow: visible;
        cursor: help;
        display: flex;
    }

    .ipxwxfqh {
        text-align: right;
        overflow: scroll;
        justify-content: flex-start;
        position: fixed;
    }

    p {
        text-decoration: line-through;
        background-image: linear-gradient(200deg, #ae676d, #bbc802);
        box-shadow: 19px 12px 1px #0b7893;
        transform: translateX(10px);
        z-index: 18;
    }

}

#thvszoya {
    flex-wrap: wrap-reverse;
    color: #919550;
    background-color: #a93060;
    font-size: 50vh;
    padding: 86em;
    cursor: wait;
    z-index: 49;

/* Accessibility Helpers */

    margin: 56px;
    display: table;
    font-family: Times New Roman;
    text-align: justify;
    transform: skew(15deg, 10deg);
    box-shadow: 19px 8px 1px #dd617f;
    position: absolute;
    font-weight: 600;
    transition: all 1.0s ease-in-out;
    text-decoration: overline;
}

@media screen and (min-width: 768px) {
    figure {
        z-index: 64;
        text-align: left;
        transition: all 2.0s ease-in-out;
        background-image: linear-gradient(345deg, #0f066d, #f7b8ce);
        transition: all 1.0s ease-in-out;
        grid-template-columns: repeat(2, 1fr);
        transition: all 1.6s ease-in-out;
        transition: all 1.0s ease-in-out;

/* Animation Effects */

    }

    .tzmpcppb {
        opacity: 0.2;
        cursor: pointer;
        justify-content: flex-start;
        z-index: 10;
        align-items: flex-start;
        background-image: linear-gradient(332deg, #7b57a7, #7018da);
    }

    .plpviakz {
        background-image: linear-gradient(30deg, #77027e, #7aec6f);
        text-transform: capitalize;
        text-align: center;
    }

}

#uiaahynn {
    flex-direction: column-reverse;
    color: #fa3e21;
    font-weight: 200;
    padding: 29rem;
    justify-content: center;
    background-color: #919550;
    align-items: stretch;
    opacity: 0.2;
    font-family: Times New Roman;
    box-shadow: 18px 9px 8px #009ecc;
    margin: 3em;
    overflow: auto;
    text-transform: lowercase;
    font-size: 86em;
}

blockquote:last-child h1:nth-child(even) ~ figcaption {
    transition: all 1.0s ease-in-out;
    color: #f7b8ce;
    background-image: linear-gradient(345deg, #0f066d, #f7b8ce);
    font-family: Merriweather;
    text-transform: none;
    background-color: #fa3e21;
    margin: 5em;
    padding: 20px;
    text-align: justify;
    font-size: 67vh;
    display: grid;
    transform: translateX(10px);
    z-index: 49;
    opacity: 0.1;
}

@media screen and (max-width: 600px) {
    .yeomxkxm {
        grid-template-columns: minmax(0, 1fr);
        text-align: right;
        font-weight: 800;

/* Form Elements */

        font-weight: 100;
        z-index: 10;
        transform: translateY(-20px);
        text-decoration: none;
    }

    .agcndeal {
        box-shadow: 19px 12px 1px #0b7893;
        cursor: move;
        cursor: not-allowed;
    }

    .chlsxkne {
        opacity: 0.2;
        text-decoration: underline;
        background-image: linear-gradient(332deg, #7b57a7, #7018da);
        flex-wrap: wrap-reverse;
    }

    h6 {
        text-align: left;
        align-items: stretch;
        text-decoration: none;
        cursor: default;
        flex-direction: column;
        opacity: 0.2;
    }

}

.chlsxkne, .gszqemvg, .qspyfoqp {
    flex-direction: row;
    font-weight: 100;
    grid-template-columns: repeat(4, 1fr);
    z-index: 10;
    z-index: 49;
    overflow: auto;
    overflow: hidden;
    overflow: scroll;
    flex-direction: column-reverse;
    align-items: stretch;
    text-decoration: underline;
    align-items: center;
}

@keyframes animation-fycyif {
    0% {
        opacity: 0.2;
        transform: skew(15deg, 10deg);
        background-color: #0f066d;
        transform: skew(15deg, 10deg);
    }
    25% {
        transform: rotate(47deg);
        transform: translateX(10px);
    }
    50% {
        background-color: #a9cdb9;
        background-color: #ce7e10;
        opacity: 0.2;
        transform: translateY(-20px);
    }
    75% {
        background-color: #7b57a7;
        color: #ce7e10;
        color: #fa3e21;
        opacity: 0.7;
    }
    100% {
        color: #0b7893;
        color: #ce7e10;
        background-color: #664338;
    }
}

.animated-bbywly {
    animation: animation-fycyif 10s infinite;
}

@keyframes animation-iuabmo {
    0% {
        background-color: #8c32cf;
        opacity: 0.1;
        transform: rotate(47deg);
        transform: translateX(10px);
    }
    50% {
        color: #b1a12b;
        transform: skew(15deg, 10deg);
        transform: translateX(10px);
    }
    100% {
        background-color: #009ecc;
        background-color: #7b57a7;
    }
}

.animated-tpgqtz {
    animation: animation-iuabmo 5s infinite;
}

@media screen and (min-width: 768px) {
    figcaption {
        transform: rotate(47deg);
        z-index: 43;
        position: absolute;
        overflow: auto;
        background-image: linear-gradient(278deg, #7018da, #664338);
        text-transform: uppercase;

/* Responsive Layouts */

        cursor: text;
    }

    .orjyymqv {
        box-shadow: 19px 19px 15px #e32d7d;
        align-items: flex-end;
        display: table;
        background-image: linear-gradient(132deg, #77027e, #8c32cf);
        font-weight: 400;
        flex-direction: column-reverse;
        align-items: flex-end;
        font-weight: 400;
    }

    .etmgpgms {
        transform: translateY(-20px);
        text-align: center;

/* Print Styles */

        justify-content: flex-end;
        font-weight: 500;
        text-transform: uppercase;
        text-transform: capitalize;
        opacity: 0.7;
        justify-content: flex-end;
    }

/* Navigation Styles */


}

@media (prefers-color-scheme: dark) {
    .zyaartfu {
        opacity: 0.2;
        text-decoration: overline;
        box-shadow: 19px 12px 1px #0b7893;
        background-image: linear-gradient(345deg, #0f066d, #f7b8ce);
    }

    .lofudgud {

/* Header Styles */

        overflow: hidden;
        align-items: baseline;
        align-items: baseline;
        flex-wrap: wrap-reverse;
        background-image: linear-gradient(200deg, #ae676d, #bbc802);
    }

}

img {
    display: inline-block;
    font-weight: normal;
    z-index: 10;
    font-size: 77vw;
    text-decoration: overline;
    grid-template-columns: repeat(2, 1fr);

/* Utility Classes */

    background-color: #0f066d;
    padding: 86vh;
    align-items: flex-end;
    text-align: center;
    font-family: Tahoma;
    opacity: 0.7;
    overflow: auto;
    background-image: linear-gradient(332deg, #7b57a7, #7018da);
}

h6, .cqrjsodp {
    align-items: baseline;
    opacity: 0.3;

/* Footer Styles */

    background-image: linear-gradient(278deg, #7018da, #664338);
    position: fixed;
    text-align: left;
    overflow: scroll;
    cursor: pointer;
    box-shadow: 9px 8px 47px #a2e9df;
}

@media screen and (max-width: 600px) {
    .jtesfhil {
        position: absolute;
        font-weight: 400;
        position: sticky;
        font-weight: 300;
        transition: all 1.0s ease-in-out;
    }

    li {
        text-align: left;
        text-transform: none;
        text-decoration: overline;
        font-weight: 300;
        overflow: hidden;
        flex-wrap: wrap-reverse;

/* Button Styles */

        display: flex;
    }

}

@keyframes animation-unywvc {
    0% {
        background-color: #7b57a7;
        background-color: #b1a12b;
    }
    25% {
        transform: translateY(-20px);
        opacity: 0.1;
        transform: skew(15deg, 10deg);
        background-color: #2a6a60;
    }
    50% {
        opacity: 0.2;
        transform: skew(15deg, 10deg);
    }
    75% {
        opacity: 0.2;
        color: #009ecc;
        background-color: #dd617f;
    }
    100% {
        opacity: 0.7;
        transform: skew(15deg, 10deg);
        opacity: 0.1;
        background-color: #b1a12b;
    }
}

.animated-awowqo {
    animation: animation-unywvc 7s infinite;
}

