:root {
    --color-0: #be8bf4;
    --color-1: #b41ea5;
    --color-2: #ed1459;
    --color-3: #384506;
    --color-4: #bcdc9d;
    --color-5: #b8b530;
    --color-6: #b8b530;
    --color-7: #75a5fd;
    --color-8: #ed1459;
    --color-9: #36945e;
    --color-10: #b41ea5;
    --color-11: #36945e;
    --color-12: #b27247;
    --color-13: #dc7080;
    --color-14: #be8bf4;
    --color-15: #b41ea5;
    --color-16: #088220;
    --color-17: #e1122d;
    --color-18: #1f39fb;
    --color-19: #af305f;
    --spacing-0: 12px;
    --spacing-1: 32px;
    --spacing-2: 39px;
    --spacing-3: 22px;
    --spacing-4: 23px;
    --spacing-5: 3px;
    --spacing-6: 15px;
    --spacing-7: 12px;
    --spacing-8: 32px;
    --spacing-9: 38px;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Button Styles */

@keyframes animation-uvsalf {
    0% {

/* Accessibility Helpers */

        background-color: #b8b530;
        transform: rotate(1deg);
        opacity: 0.6;
    }
    25% {
        transform: translateX(10px);
        color: #be8bf4;

/* Print Styles */

        background-color: #af305f;
        background-color: #76bb80;
    }
    50% {
        color: #a6d56f;
        opacity: 0.7;
    }
    75% {
        background-color: #6c5773;
        background-color: #384506;
    }
    100% {
        transform: rotate(1deg);
        color: #751426;
        transform: rotate(1deg);
        background-color: #5c39a3;
    }
}

.animated-mozcqi {
    animation: animation-uvsalf 5s infinite;
}

blockquote, td, #megzwclt, h2 {
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    justify-content: center;
    z-index: 51;
    text-transform: uppercase;
    display: grid;
    transform: rotate(1deg);
}

.kpoamhqe {
    grid-template-rows: minmax(100px, auto);
    font-size: 47em;
    margin: 21px;

/* Main Content Styles */

    transition: all 1.7s ease-in-out;
    z-index: 24;
    color: #b27247;
    background-color: #e1122d;
    font-family: Roboto;
    position: static;
    align-items: baseline;
    text-align: justify;
    justify-content: flex-end;
    opacity: 0.6;
    cursor: move;
    box-shadow: 6px 6px 13px #6c5773;
}

@media screen and (min-width: 992px) {
    h4 {
        grid-template-columns: 1fr;
        position: relative;
        position: static;
        box-shadow: 16px 4px 50px #b8b530;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        text-decoration: none;
        opacity: 0.7;
    }

    .cjrfyasu {
        text-decoration: none;
        font-weight: 400;
        grid-template-columns: auto 1fr;
        display: block;
        align-items: stretch;
    }

    h1 {
        display: none;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        flex-direction: column-reverse;
    }

}

@media (orientation: landscape) {
    h2 {
        z-index: 78;
        grid-template-rows: 1fr;

/* Dark Mode Overrides */

        transform: skew(15deg, 10deg);
    }

    h3 {
        position: relative;
        grid-template-rows: 1fr;
        flex-direction: column-reverse;
        text-transform: uppercase;
        text-transform: capitalize;
        transition: all 0.2s ease-in-out;
    }

}

@keyframes animation-vxzjpl {
    0% {
        background-color: #751426;
        transform: translateY(-20px);
        transform: skew(15deg, 10deg);
    }
    50% {
        color: #b8b530;
        opacity: 0.9;
        color: #c52bb0;
        transform: translateY(-20px);
    }
    100% {
        color: #df3e44;
        opacity: 0.6;
        background-color: #be8bf4;
    }
}

.animated-cqygju {
    animation: animation-vxzjpl 2s infinite;
}

h1 {
    transform: scale(0.6);
    margin: 22rem;
    padding: 82em;
    font-weight: 400;
    background-color: #af305f;
    align-items: baseline;
    transition: all 0.8s ease-in-out;
    font-family: monospace;
    background-image: linear-gradient(209deg, #be8bf4, #05c659);
    color: #75a5fd;
    grid-template-columns: repeat(3, 1fr);
    font-size: 70px;
    justify-content: space-around;
    position: sticky;
    box-shadow: 6px 6px 13px #6c5773;
    text-transform: uppercase;
    flex-direction: column-reverse;
}

@keyframes animation-sivuof {
    0% {
        background-color: #c56e1b;
        transform: translateX(10px);
    }
    25% {
        background-color: #75a5fd;
        opacity: 0.2;
        transform: scale(0.6);
        background-color: #c56e1b;
    }
    50% {
        color: #1f39fb;
        opacity: 0.2;
        transform: rotate(1deg);
    }
    75% {
        opacity: 0.2;
        opacity: 0.7;
        background-color: #5c39a3;
        opacity: 0.6;
    }
    100% {
        background-color: #c56e1b;
        background-color: #bcdc9d;
        opacity: 0.6;
    }
}

.animated-xprqrg {
    animation: animation-sivuof 4s infinite;
}

figure + button + p:nth-child(odd) {
    overflow: auto;
    color: #09a1a4;
    z-index: 49;

/* Navigation Styles */

    margin: 82vh;
    padding: 58px;
    flex-direction: column;
}

@keyframes animation-rojvjt {
    0% {
        transform: skew(15deg, 10deg);
        background-color: #096a46;
    }
    50% {
        opacity: 0.9;
        transform: rotate(1deg);
    }
    100% {
        transform: scale(0.6);
        transform: translateY(-20px);
    }
}

.animated-ufyfzi {
    animation: animation-rojvjt 9s infinite;
}

#zcghuttn, .xvxocsru, #oavzppca {
    background-image: linear-gradient(296deg, #36945e, #b27247);
    background-image: linear-gradient(151deg, #bcdc9d, #10cc04);
    z-index: 14;
    grid-template-columns: minmax(0, 1fr);
    z-index: 78;
    z-index: 78;
    justify-content: flex-end;
    text-decoration: overline;
    flex-wrap: nowrap;
    cursor: wait;
}

@keyframes animation-ozwiql {
    0% {
        color: #36945e;
        background-color: #f11763;

/* Form Elements */

        opacity: 0.7;
    }
    25% {
        opacity: 0.6;
        color: #a6d56f;
        background-color: #e1122d;
        transform: skew(15deg, 10deg);
    }
    50% {
        color: #ed1459;
        color: #751426;
        color: #6c5773;
        color: #ed1459;
    }

/* Utility Classes */

    75% {
        color: #09a1a4;
        transform: scale(0.6);
    }
    100% {
        transform: translateX(10px);
        opacity: 0.6;
        color: #a6d56f;
    }
}

.animated-obhkkv {
    animation: animation-ozwiql 1s infinite;
}

@media screen and (min-width: 1200px) {
    .cnozvjjj {
        display: flex;
        font-weight: 200;
        grid-template-rows: minmax(100px, auto);
        z-index: 61;
    }

    input {
        background-image: linear-gradient(296deg, #36945e, #b27247);
        justify-content: center;
        display: contents;
        overflow: hidden;
        z-index: 49;
        display: table;
    }

    tr {
        position: absolute;
        position: relative;
        transform: scale(0.6);
        font-weight: bold;
    }

    tr {
        position: relative;
        flex-wrap: wrap;
        position: static;
        font-weight: 700;
        grid-template-rows: 1fr;
        flex-wrap: nowrap;
        overflow: hidden;
    }

}

header {
    opacity: 0.7;
    font-size: 62%;
    padding: 60rem;
    z-index: 53;
    color: #b41ea5;
    margin: 81%;
    grid-template-rows: 1fr;
    display: table;

/* Header Styles */

    transition: all 0.8s ease-in-out;
    background-color: #2795b5;

/* Responsive Layouts */

    text-align: left;
    flex-direction: row;
    font-family: Verdana;
    text-transform: none;
}

@keyframes animation-gvlubc {
    0% {
        transform: translateX(10px);
        opacity: 0.7;
        color: #df3e44;
        background-color: #5c39a3;
    }
    25% {
        transform: skew(15deg, 10deg);
        opacity: 0.7;
        transform: translateX(10px);
        transform: skew(15deg, 10deg);
    }
    50% {
        color: #c52bb0;
        transform: skew(15deg, 10deg);
        color: #6c5773;
        background-color: #2795b5;
    }
    75% {
        opacity: 0.7;
        background-color: #b27247;

/* Footer Styles */

    }
    100% {
        color: #05c659;
        opacity: 0.2;
        opacity: 0.7;
        opacity: 0.6;
    }
}

.animated-luizul {
    animation: animation-gvlubc 5s infinite;
}

.glzaokyg, figure, .cnozvjjj, .cbtnzteo, div {
    align-items: stretch;
    align-items: stretch;
    text-decoration: line-through;
    transform: skew(15deg, 10deg);
    flex-wrap: nowrap;
}

#sjfaxoqh, .aaxfeltx {
    grid-template-columns: auto 1fr;
    background-image: linear-gradient(336deg, #d9cdc8, #c52bb0);
    flex-direction: column-reverse;
    background-image: linear-gradient(241deg, #096a46, #a6d56f);
    box-shadow: 9px 18px 27px #b41ea5;
    position: absolute;
}

@media (orientation: portrait) {
    button {
        grid-template-columns: minmax(0, 1fr);
        text-transform: lowercase;
        text-align: right;
        background-image: linear-gradient(336deg, #d9cdc8, #c52bb0);
        transform: translateY(-20px);
    }

    .budpbpbn {
        grid-template-rows: repeat(3, auto);
        position: absolute;
        flex-wrap: wrap;
        position: static;
        align-items: center;
        font-weight: 100;
    }

    .eaciynvl {
        text-decoration: overline;
        transition: all 1.7s ease-in-out;
        z-index: 53;
        text-decoration: line-through;
        cursor: not-allowed;
        box-shadow: 14px 5px 7px #09a1a4;
    }

}

#lyiynwbg > #sjfaxoqh {
    font-weight: 300;
    margin: 64%;
    transform: rotate(1deg);
    color: #751426;
    cursor: help;
    background-color: #f11763;
    font-family: Montserrat;
    padding: 49em;
    text-transform: lowercase;
    flex-direction: column;
    font-size: 1vh;
    text-decoration: underline;
    grid-template-rows: repeat(3, auto);
}

@keyframes animation-ymlqxm {
    0% {
        opacity: 0.2;
        color: #09a1a4;
        background-color: #09a1a4;
        color: #096a46;
    }
    25% {
        transform: skew(15deg, 10deg);
        background-color: #e1122d;
        transform: scale(0.6);
        opacity: 0.7;
    }
    50% {
        opacity: 0.2;
        transform: translateY(-20px);
        opacity: 0.6;
        background-color: #096a46;
    }
    75% {
        transform: rotate(1deg);
        background-color: #ed1459;
        color: #d9cdc8;
        transform: translateY(-20px);
    }
    100% {
        background-color: #b27247;
        background-color: #75a5fd;
        color: #dc7080;
    }
}

.animated-vvvont {
    animation: animation-ymlqxm 3s infinite;
}

#ipceetua, #itunfydj {
    grid-template-columns: minmax(0, 1fr);
    cursor: default;

/* Animation Effects */

    text-align: left;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    text-transform: none;
    font-weight: 800;
    display: table;
}

#igtngodn, .zpvyxpes, .ouuozvie {
    transition: all 1.7s ease-in-out;
    grid-template-rows: auto;
    font-weight: 300;
    flex-direction: row;
    grid-template-rows: minmax(100px, auto);
    font-weight: 300;
}

@keyframes animation-tcfwif {
    0% {
        color: #10cc04;
        opacity: 0.6;
    }
    50% {
        background-color: #36945e;
        opacity: 0.2;
    }
    100% {
        background-color: #df3e44;
        color: #384506;
        background-color: #af305f;
        background-color: #be8bf4;
    }
}

.animated-jickfx {
    animation: animation-tcfwif 3s infinite;
}

