:root {
    --color-0: #5163c9;
    --color-1: #22efde;
    --color-2: #241c33;
    --color-3: #4baebb;
    --color-4: #68cf48;
    --color-5: #45d07f;
    --color-6: #8714eb;
    --color-7: #7ce02e;
    --color-8: #9029d6;
    --color-9: #c80798;
    --color-10: #da4c2a;
    --color-11: #c80798;
    --color-12: #22efde;
    --color-13: #72be56;
    --color-14: #c05c53;
    --color-15: #5163c9;
    --color-16: #c9db23;
    --color-17: #e81d7f;
    --color-18: #241c33;
    --color-19: #e81d7f;
    --spacing-0: 21px;
    --spacing-1: 24px;
    --spacing-2: 34px;
    --spacing-3: 36px;
    --spacing-4: 11px;
    --spacing-5: 46px;
    --spacing-6: 30px;
    --spacing-7: 21px;
    --spacing-8: 25px;
    --spacing-9: 29px;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ibzvlhja {
    overflow: hidden;
    font-size: 40em;
    margin: 78%;
    flex-direction: row;
    color: #72be56;
    padding: 8%;
    transform: rotate(134deg);
    background-color: #ec8d6b;
    grid-template-columns: minmax(0, 1fr);
    justify-content: flex-end;
    font-family: Avant Garde;
    cursor: help;
    text-align: justify;
    display: grid;
    background-image: linear-gradient(97deg, #72bcf1, #86f779);
}

button, blockquote, .imryjvta {
    grid-template-columns: 1fr;
    justify-content: flex-end;
    text-decoration: none;
    text-decoration: line-through;
    opacity: 0.4;
    flex-wrap: nowrap;
    display: contents;
    transform: skew(15deg, 10deg);
    position: fixed;
    z-index: 57;
    position: relative;
    opacity: 0.3;
}

@media screen and (min-width: 992px) {
    input {
        flex-wrap: nowrap;
        opacity: 0.4;

/* Button Styles */

        box-shadow: 5px 0px 10px #83e0b1;
        z-index: 8;
        grid-template-rows: 1fr;
    }

    span {
        background-image: linear-gradient(89deg, #5a815c, #83e0b1);
        grid-template-columns: auto 1fr;
        transition: all 1.6s ease-in-out;
        opacity: 0.4;
        text-decoration: underline;
        transform: skew(15deg, 10deg);
    }

}

button {
    opacity: 0.4;
    background-color: #83e0b1;
    font-family: Lato;
    margin: 76vh;
    padding: 99px;
    grid-template-rows: repeat(3, auto);
    color: #45d07f;
    text-decoration: none;
    font-size: 24%;
    transition: all 0.6s ease-in-out;
    background-image: linear-gradient(148deg, #191ace, #5163c9);
    overflow: auto;
    transform: skew(15deg, 10deg);
    justify-content: space-between;
    align-items: flex-start;
    text-transform: capitalize;
    display: table;
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .divfpddh {
        transition: all 0.6s ease-in-out;
        transition: all 0.9s ease-in-out;
        font-weight: 300;
        text-align: center;
        display: grid;
    }

    header {
        font-weight: 500;
        text-transform: none;
        z-index: 57;
        flex-wrap: wrap;
        grid-template-rows: repeat(3, auto);
    }

}

.naxzoufm {
    position: static;
    background-color: #86f779;
    margin: 15px;
    overflow: hidden;
    color: #e926c1;
    font-family: Helvetica;
    padding: 43rem;
    background-image: linear-gradient(93deg, #c05c53, #7ce02e);
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
}

.khurmxua {
    text-transform: lowercase;
    font-family: Comic Sans MS;
    justify-content: space-between;
    background-color: #098dfb;
    overflow: auto;
    padding: 91px;
    transform: rotate(134deg);
    margin: 48vh;
    font-weight: 200;
    color: #5683ae;
    font-size: 17%;
    cursor: wait;

/* Accessibility Helpers */

    transition: all 1.6s ease-in-out;
    grid-template-rows: repeat(3, auto);
    align-items: stretch;
}

@keyframes animation-berfif {
    0% {
        opacity: 0.2;
        opacity: 0.2;
        color: #5163c9;
        background-color: #03290d;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.4;
    }
    100% {
        transform: translateX(10px);
        background-color: #8714eb;
        opacity: 0.4;
        opacity: 0.4;
    }
}

.animated-hiihyr {
    animation: animation-berfif 7s infinite;
}

@keyframes animation-zaryqs {
    0% {
        color: #73d34a;
        background-color: #61d1ce;
        background-color: #da4c2a;
        background-color: #68cf48;
    }
    25% {
        background-color: #68cf48;
        background-color: #da4c2a;
        color: #68cf48;
    }
    50% {
        opacity: 0.5;
        color: #da4c2a;
        background-color: #8714eb;
        color: #191ace;
    }
    75% {
        color: #03290d;
        background-color: #03290d;
        opacity: 0.4;
        background-color: #ec8d6b;
    }
    100% {
        transform: rotate(134deg);
        transform: skew(15deg, 10deg);
    }
}

.animated-jkjsdz {
    animation: animation-zaryqs 7s infinite;
}

.xmftiuhu, .gavwfaxe, #jnyyovcu, .bvjkdyaa, .msgeplvr {
    grid-template-rows: 1fr;
    justify-content: center;
    text-transform: none;
    cursor: text;
    transition: all 0.6s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .zzcwagfn {
        opacity: 0.5;

/* Animation Effects */

        transition: all 0.9s ease-in-out;
        overflow: auto;
        cursor: pointer;
        transform: translateX(10px);
        flex-wrap: wrap;
        text-align: left;
        grid-template-columns: 1fr;
    }

    main {
        position: sticky;
        opacity: 0.5;
        grid-template-columns: minmax(0, 1fr);
        position: fixed;
        grid-template-columns: repeat(2, 1fr);
        justify-content: flex-start;
    }

    .dohfudzc {
        text-transform: none;

/* Form Elements */

        overflow: auto;
        position: fixed;
        grid-template-rows: 1fr;
        transform: scale(0.5);
    }

}

@keyframes animation-xndsaj {
    0% {
        opacity: 0.4;
        opacity: 0.4;
    }
    25% {
        transform: skew(15deg, 10deg);
        transform: translateX(10px);
        color: #5a815c;
    }
    50% {
        background-color: #4baebb;
        opacity: 0.3;
    }

/* Print Styles */

    75% {
        opacity: 0.3;
        background-color: #241c33;
        background-color: #68cf48;
    }
    100% {
        transform: translateX(10px);
        color: #83e0b1;
        color: #c9db23;
        transform: translateY(-20px);
    }
}

.animated-vnafih {
    animation: animation-xndsaj 10s infinite;
}

@keyframes animation-jajjog {
    0% {
        color: #8714eb;
        color: #45d07f;
    }
    50% {
        color: #c05c53;
        color: #7522e7;
        transform: rotate(134deg);
    }
    100% {
        transform: translateY(-20px);
        background-color: #9029d6;
        opacity: 0.5;
    }
}

.animated-dfmjts {
    animation: animation-jajjog 7s infinite;
}

@media (orientation: landscape) {
    .vbrvzzrc {
        text-transform: capitalize;
        flex-wrap: wrap;
        flex-direction: column;
        transition: all 0.6s ease-in-out;
        grid-template-rows: repeat(3, auto);
        transition: all 0.6s ease-in-out;
    }

    h5 {
        flex-direction: column-reverse;
        overflow: auto;
        flex-wrap: wrap;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 600px) {
    .vxmiooeh {
        opacity: 0.2;
        overflow: visible;
        text-transform: capitalize;
        display: none;
        cursor: pointer;
        background-image: linear-gradient(78deg, #e81d7f, #72bcf1);
        grid-template-rows: 1fr;
    }

    a {

/* Responsive Layouts */

        z-index: 8;
        font-weight: 500;
        flex-direction: row-reverse;
        position: fixed;
        flex-direction: column-reverse;
        grid-template-rows: minmax(100px, auto);
        z-index: 84;
        align-items: flex-end;
    }

    span {
        align-items: stretch;
        cursor: pointer;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        display: inline-block;
        grid-template-columns: auto 1fr;
        flex-wrap: wrap-reverse;
    }

}

@media (orientation: landscape) {
    td {
        justify-content: flex-end;
        transform: translateY(-20px);
        grid-template-columns: auto 1fr;
        justify-content: space-around;
        align-items: stretch;
        overflow: auto;
        font-weight: 600;
    }

    h6 {
        text-decoration: line-through;
        grid-template-columns: 1fr;
        box-shadow: 12px 18px 22px #03290d;

/* Navigation Styles */

        grid-template-columns: repeat(2, 1fr);
    }

    .xmftiuhu {
        font-weight: 400;
        grid-template-rows: 1fr;
        z-index: 57;
        background-image: linear-gradient(148deg, #191ace, #5163c9);
    }

}

form, .pzjdzkyk, td, .lfxztxzd {
    grid-template-columns: repeat(4, 1fr);
    opacity: 0.5;
    font-weight: 200;
    opacity: 0.4;
    flex-direction: column-reverse;

/* Footer Styles */

    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    text-transform: uppercase;
}

button {
    align-items: flex-end;
    flex-direction: row-reverse;
    padding: 67rem;
    overflow: scroll;
    font-family: Tahoma;
    font-size: 58vw;
    display: table;

/* Header Styles */

    flex-wrap: nowrap;
    margin: 13px;
    cursor: not-allowed;
    color: #83e0b1;
    background-color: #c80798;
    font-weight: 900;
}

div {
    background-image: linear-gradient(318deg, #8714eb, #7ce02e);
    grid-template-rows: auto;
    background-color: #86f779;
    margin: 98vh;
    text-decoration: none;

/* Dark Mode Overrides */

    color: #d126e0;
    transform: scale(0.5);
    font-family: Impact;
    padding: 91%;
    overflow: hidden;
    opacity: 0.4;
    transition: all 0.6s ease-in-out;
    font-size: 24%;
    grid-template-columns: 1fr;
    cursor: pointer;
}

#dtasfgbk, footer, h1, #zmdeonit {
    grid-template-columns: 1fr;
    transition: all 0.6s ease-in-out;
    grid-template-rows: repeat(3, auto);
    flex-direction: row-reverse;
    transition: all 0.4s ease-in-out;
    transition: all 1.6s ease-in-out;
    z-index: 8;
    grid-template-rows: minmax(100px, auto);
    align-items: flex-end;
    position: fixed;
    transition: all 0.6s ease-in-out;
    align-items: baseline;
}

h5, #zmdeonit, .toeeitns, h1, #avkgmvuq {
    grid-template-columns: minmax(0, 1fr);
    opacity: 0.4;
    transition: all 1.6s ease-in-out;
    text-decoration: overline;
    background-image: linear-gradient(106deg, #c05c53, #73d34a);
}

@keyframes animation-kkpguy {
    0% {
        background-color: #22efde;
        color: #22efde;
        transform: scale(0.5);
    }
    50% {

/* Utility Classes */

        opacity: 0.5;
        transform: translateX(10px);
        opacity: 0.5;
    }
    100% {
        color: #7522e7;
        background-color: #03290d;
        background-color: #68cf48;
    }
}

.animated-ijnhmj {
    animation: animation-kkpguy 6s infinite;
}

.gyorbjyc > figure + #dpmgyooz {
    box-shadow: 17px 13px 0px #4baebb;
    background-color: #8714eb;
    font-size: 57vw;
    padding: 84vw;
    flex-direction: row;
    text-transform: none;
    align-items: flex-end;

/* Main Content Styles */

    color: #ec8d6b;
    transition: all 1.6s ease-in-out;
    font-family: Georgia;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-decoration: none;
    margin: 10rem;
    opacity: 0.2;
    grid-template-columns: minmax(0, 1fr);
    background-image: linear-gradient(97deg, #72bcf1, #86f779);
}

@keyframes animation-ilznrm {
    0% {
        opacity: 0.4;
        opacity: 0.5;
        color: #61d1ce;
        opacity: 0.4;
    }
    50% {
        background-color: #241c33;
        transform: scale(0.5);
        opacity: 0.2;
        background-color: #7522e7;
    }
    100% {
        background-color: #d126e0;
        color: #68cf48;
        opacity: 0.4;
        opacity: 0.4;
    }
}

.animated-pzbocj {
    animation: animation-ilznrm 3s infinite;
}

