#logo {
    font-family: Verdana;
    font-size: 11px;
    font-family: Courier New;
    font-size: 21px;
    margin: 20px;
}

#hero {
    padding: 5px;
    margin: 50px;
    color: #afc930;
    border: 2px solid #57cc73;
}

button:focus {
    font-family: Courier New;
    font-size: 19px;
    background-color: #3931a1;
    color: #947ba8;
}

.footer {
    margin: 37px;
    margin: 49px;
    padding: 12px;
    font-family: Verdana;
    font-size: 47px;
    color: #7b4a64;
    border: 1px none #947ba8;
    display: inline;
}

button:last-child {
    padding: 14px;
    border: 5px solid #947ba8;
    padding: 14px;
    position: relative;
}

div:last-child {
    margin: 11px;
    color: #57cc73;
    background-color: #57cc73;
    position: fixed;
    border: 2px ridge #afc930;
}

a {
    color: #2a13ee;
    color: #bb9383;
    font-family: Times New Roman;
    font-size: 11px;
    position: sticky;
    color: #57cc73;
}

#menu {
    margin: 20px;
    margin: 49px;
    position: relative;
    border: 3px outset #9c5eb8;
    margin: 20px;
}

span {
    display: grid;
    display: inline;
    padding: 12px;
}

li {
    margin: 49px;
    color: #9c5eb8;
    border: 4px dotted #3931a1;
    padding: 8px;
    position: static;
    padding: 20px;
    background-color: #afc930;
}

body {
    color: #a6df59;
    color: #a6df59;
    position: sticky;
    border: 4px dotted #e6ff07;
    color: #9c5eb8;
    position: relative;
    background-color: #2a13ee;
    border: 5px solid #947ba8;
}

.container {
    position: relative;
    background-color: #e6ff07;
    color: #bb9383;
}

input:hover {
    font-family: Times New Roman;
    font-size: 47px;
    border: 3px groove #9c5eb8;
    border: 1px dashed #2a13ee;
}

.card {
    margin: 7px;
    background-color: #947ba8;
    padding: 8px;
    border: 4px ridge #7b4a64;
}

