:root {
    --color-0: #7b5b59;
    --color-1: #43f6c1;
    --color-2: #ab98c8;
    --color-3: #843abf;
    --color-4: #06f7ab;
    --color-5: #5980de;
    --color-6: #792243;
    --color-7: #831fe4;
    --color-8: #2307d4;
    --color-9: #ab98c8;
    --color-10: #7b5b59;
    --color-11: #7007ee;
    --color-12: #604c62;
    --color-13: #829742;
    --color-14: #44a8ec;
    --color-15: #829742;
    --color-16: #4bb15a;
    --color-17: #082936;
    --color-18: #ab98c8;
    --color-19: #7eac58;
    --spacing-0: 39px;
    --spacing-1: 30px;
    --spacing-2: 17px;
    --spacing-3: 23px;
    --spacing-4: 27px;
    --spacing-5: 35px;
    --spacing-6: 4px;
    --spacing-7: 15px;
    --spacing-8: 10px;
    --spacing-9: 35px;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes animation-nppoay {
    0% {
        transform: scale(0.8);
        color: #ffa2a9;

/* Header Styles */

        background-color: #7b5b59;
        opacity: 0.5;
    }
    50% {
        opacity: 0.1;
        background-color: #43f6c1;
    }

/* Utility Classes */

    100% {
        color: #104ffc;
        transform: rotate(4deg);
        background-color: #7eac58;
        background-color: #8cfe4d;
    }
}

.animated-bxswno {
    animation: animation-nppoay 6s infinite;
}

.wgbbfsgc:not(:first-child) {
    font-weight: 600;
    color: #3197c3;
    margin: 99px;
    padding: 41vh;
    text-transform: lowercase;
    font-family: Roboto;
    align-items: flex-start;
    font-size: 58em;
    transition: all 1.4s ease-in-out;
    background-color: #dc9ef1;
    z-index: 33;
    display: grid;
    opacity: 0.3;
}

.rboaillq {
    transition: all 1.9s ease-in-out;
    background-color: #104ffc;
    transform: scale(0.8);
    flex-direction: column-reverse;
    font-size: 78vh;
    margin: 85em;
    flex-wrap: wrap-reverse;
    color: #c46217;
    font-family: Garamond;
    text-transform: uppercase;
    align-items: center;
    padding: 36em;
    display: inline-block;
    font-weight: 800;
    box-shadow: 11px 20px 9px #972322;
    overflow: hidden;
}

#evclbdcf, #hmpzsnes, #ctiuocxt, #ivymjlab {
    text-align: left;
    grid-template-rows: minmax(100px, auto);
    font-weight: 300;
    background-image: linear-gradient(199deg, #06f7ab, #104ffc);
    align-items: baseline;
    grid-template-rows: auto;
    transform: rotate(4deg);
    text-decoration: line-through;
    transition: all 1.8s ease-in-out;
    background-image: linear-gradient(78deg, #31bf45, #7b5b59);
    font-weight: 800;
    grid-template-columns: auto 1fr;
}

#bsfhzfue {
    box-shadow: 0px 16px 33px #829742;
    margin: 1%;
    padding: 66px;
    grid-template-columns: repeat(3, 1fr);
    color: #f7c138;
    background-color: #4fd9f5;
    font-family: Lato;
    align-items: baseline;
    overflow: hidden;
    font-size: 67px;
    flex-wrap: wrap;
    cursor: not-allowed;
    text-align: left;
    transition: all 1.9s ease-in-out;
    font-weight: 800;
    text-transform: uppercase;
}

#evclbdcf, #dfrsujup, a, td {
    overflow: auto;
    box-shadow: 2px 13px 46px #f7c138;
    text-transform: lowercase;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: sticky;
    z-index: 7;
    grid-template-rows: 1fr;
    font-weight: 700;
    text-align: justify;
    text-align: right;
}

@media (orientation: landscape) {
    span {
        position: fixed;
        flex-wrap: nowrap;
        box-shadow: 2px 13px 46px #f7c138;
        overflow: hidden;
        text-align: left;

/* Main Content Styles */

        text-transform: lowercase;
        grid-template-rows: repeat(3, auto);
    }

    .dsjraprx {
        justify-content: center;
        flex-wrap: nowrap;
        cursor: not-allowed;
        font-weight: 100;

/* Animation Effects */

        grid-template-columns: repeat(3, 1fr);
        transition: all 1.8s ease-in-out;
        text-transform: none;
        background-image: linear-gradient(184deg, #31bf45, #082936);
    }

    input {
        z-index: 23;
        display: none;
        text-decoration: line-through;
        z-index: 12;
        flex-direction: column;
        transition: all 1.9s ease-in-out;
        align-items: stretch;
        text-align: center;
    }

}

@media screen and (min-width: 1200px) {
    aside {
        transition: all 1.8s ease-in-out;
        text-transform: uppercase;
        text-transform: capitalize;
        grid-template-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        grid-template-rows: repeat(3, auto);
        cursor: default;
    }

    .rdjeysql {
        display: grid;
        flex-direction: column;
        position: sticky;
        transition: all 1.4s ease-in-out;
        cursor: help;
        cursor: default;
        text-decoration: line-through;
        opacity: 0.1;
    }

    .sjifelkg {
        text-align: center;
        box-shadow: 0px 16px 33px #829742;
        opacity: 0.5;
        flex-direction: column-reverse;
        position: sticky;
        position: relative;
        grid-template-rows: minmax(100px, auto);
    }

}

/* Accessibility Helpers */


#xumdfsxn {
    transition: all 0.4s ease-in-out;
    background-color: #c46217;
    font-size: 57vh;
    display: inline;
    z-index: 24;
    font-family: Courier New;
    margin: 5em;
}

@keyframes animation-cbjria {
    0% {
        transform: translateY(-20px);
        opacity: 0.1;
        opacity: 0.1;
        transform: translateY(-20px);
    }
    50% {
        transform: scale(0.8);
        color: #3197c3;
        color: #3197c3;
    }
    100% {

/* Navigation Styles */

        color: #31bf45;
        opacity: 0.1;
        background-color: #5980de;
        opacity: 0.1;
    }
}

.animated-oelgou {
    animation: animation-cbjria 1s infinite;
}

.zijmowqf + tr:disabled {
    flex-wrap: wrap;
    color: #7007ee;
    text-decoration: overline;
    font-size: 20em;
    padding: 9vw;

/* Print Styles */

    transform: rotate(4deg);
    align-items: center;
    box-shadow: 0px 16px 33px #829742;
    background-color: #843abf;
    margin: 71em;
}

.bbzddaol {
    transform: rotate(4deg);
    color: #f3eac7;
    padding: 8em;
    grid-template-columns: 1fr;
    font-family: sans-serif;
    font-size: 26%;
    margin: 29vh;
    grid-template-rows: minmax(100px, auto);
    background-color: #792243;

/* Form Elements */

}

blockquote {
    box-shadow: 9px 7px 35px #dc9ef1;
    background-color: #604c62;
    padding: 74px;
    text-align: center;
    margin: 66vh;
    font-weight: 800;
    font-family: Georgia;
    text-decoration: none;
    font-size: 47vh;
    flex-direction: column;
    color: #3197c3;
    z-index: 12;
    transform: skew(15deg, 10deg);
    cursor: not-allowed;
    justify-content: space-between;
    background-image: linear-gradient(78deg, #31bf45, #7b5b59);

/* Responsive Layouts */

}

.pixpnsrh, #tigyrhkz, figcaption {
    text-align: center;
    text-decoration: underline;
    overflow: scroll;
    justify-content: space-around;
    cursor: not-allowed;
    text-transform: none;
    flex-wrap: wrap;
}

@keyframes animation-kcictn {
    0% {
        color: #7007ee;
        background-color: #604c62;
        color: #62f269;
    }
    50% {
        background-color: #8cfe4d;
        background-color: #5980de;
        color: #e7749f;
        transform: skew(15deg, 10deg);
    }
    100% {
        transform: skew(15deg, 10deg);
        background-color: #43f6c1;
        color: #ab98c8;
        background-color: #62f269;
    }
}

.animated-dnoqzj {
    animation: animation-kcictn 2s infinite;
}

@keyframes animation-fnferf {
    0% {
        color: #8cfe4d;
        background-color: #7b5b59;
    }
    50% {
        color: #c46217;
        transform: scale(0.8);
        background-color: #43f6c1;
    }
    100% {
        transform: translateX(10px);
        color: #604c62;
        background-color: #7b5b59;
        background-color: #104ffc;
    }
}

.animated-cdegdk {
    animation: animation-fnferf 9s infinite;
}

.ibosmssn, tr {
    transition: all 1.9s ease-in-out;
    font-weight: 800;
    grid-template-rows: 1fr;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 19px 9px 13px #8cfe4d;
    align-items: flex-end;
    opacity: 0.5;
    display: inline-block;
    display: inline;
    opacity: 0.5;
    text-align: right;
}

@media screen and (min-width: 1200px) {
    aside {
        box-shadow: 19px 9px 13px #8cfe4d;
        grid-template-columns: 1fr;
        background-image: linear-gradient(185deg, #e7749f, #9879c7);
        text-align: right;
        grid-template-columns: minmax(0, 1fr);
    }

    li {
        flex-wrap: nowrap;
        text-transform: uppercase;
        cursor: help;
        text-decoration: none;
        text-transform: none;
        transform: scale(0.8);
        font-weight: 600;
    }

    header {
        transition: all 1.5s ease-in-out;
        opacity: 0.3;
        position: absolute;
        display: grid;
    }

}

@media (prefers-reduced-motion: reduce) {
    footer {
        transition: all 0.4s ease-in-out;
        flex-wrap: wrap;
        transition: all 1.5s ease-in-out;
    }

    td {
        font-weight: 900;
        align-items: baseline;
        box-shadow: 7px 10px 28px #7007ee;
        box-shadow: 19px 9px 13px #8cfe4d;
        overflow: hidden;
        grid-template-columns: minmax(0, 1fr);
        flex-wrap: wrap;
        align-items: baseline;
    }

}

@keyframes animation-dpxutr {
    0% {
        transform: rotate(4deg);
        background-color: #7b5b59;
        color: #31bf45;
    }
    50% {
        background-color: #4bb15a;
        background-color: #31bf45;
    }
    100% {
        opacity: 0.3;
        opacity: 0.1;
        opacity: 0.3;
    }
}

.animated-olfnsy {
    animation: animation-dpxutr 5s infinite;
}

@media screen and (max-width: 600px) {
    div {
        opacity: 0.3;
        box-shadow: 13px 7px 36px #c46217;
        flex-direction: row;
        grid-template-columns: auto 1fr;
        background-image: linear-gradient(334deg, #7007ee, #792243);
    }

    td {
        transform: translateY(-20px);
        grid-template-columns: auto 1fr;
        display: none;
    }

}

footer ~ #xumdfsxn > article + #ndobldwk:target {
    position: relative;
    transform: translateY(-20px);
    font-family: Roboto;
    font-size: 6vh;
    flex-wrap: wrap;

/* Footer Styles */

    margin: 80rem;
    font-weight: 600;
    padding: 69em;
    align-items: flex-end;
    flex-direction: column-reverse;
    background-image: linear-gradient(185deg, #e7749f, #9879c7);
}

.dsjraprx {
    grid-template-rows: auto;
    color: #2307d4;
    font-weight: 500;
    background-color: #ab98c8;
    font-size: 54vw;
    z-index: 24;
    font-family: Comic Sans MS;
    text-decoration: underline;
}

@keyframes animation-jyriaj {
    0% {

/* Button Styles */

        opacity: 0.5;
        opacity: 0.1;
        transform: rotate(4deg);
        opacity: 0.1;
    }
    50% {
        opacity: 0.1;
        transform: rotate(4deg);
        background-color: #104ffc;
        color: #829742;
    }
    100% {
        transform: translateX(10px);
        background-color: #dc9ef1;
        color: #604c62;
        transform: translateY(-20px);
    }
}

/* Dark Mode Overrides */


.animated-lnlatq {
    animation: animation-jyriaj 9s infinite;
}

@media screen and (max-width: 600px) {
    .vbafhikr {
        text-decoration: line-through;
        grid-template-rows: 1fr;
        position: absolute;
        z-index: 89;
    }

    .ourqskgb {
        opacity: 0.5;
        cursor: pointer;
        text-align: center;
    }

    img {
        flex-wrap: wrap;
        opacity: 0.1;
        overflow: visible;
        z-index: 34;
        justify-content: space-evenly;
        justify-content: flex-start;
        grid-template-rows: auto;
    }

    .ccpqdsea {
        text-align: center;
        transition: all 0.4s ease-in-out;
        background-image: linear-gradient(185deg, #e7749f, #9879c7);
        background-image: linear-gradient(78deg, #31bf45, #7b5b59);
        position: fixed;
        overflow: visible;
    }

}

